@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
  @apply text-red-700;
  @apply border-t-4;
  @apply border-primary;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border: 2px solid transparent; */
  border-radius: 10px;
  background-clip: content-box;
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
